@import "tailwindcss";

:root {}

@layer components {



   .not-found-title {
      @apply text-3xl font-bold text-center mt-10;
   }

   .not-found-subtitle {
      @apply text-lg text-center mt-4;
   }

   /* form and inputs  */
   .form {
      @apply w-11/12 min-w-lg min-h-96 bg-black rounded-2xl flex flex-col items-center;
   }

   .form-step {
      @apply w-full max-w-96;
   }

   .wrapper-input {
      @apply relative border-[1px] border-solid border-zinc-500 has-focus:border-sky-500 rounded-md pt-4 duration-100;
   }

   .custom-input {
      @apply p-2 w-full;
   }

   .label {
      @apply absolute top-1/2 left-2 -translate-y-1/2 text-current;
   }

   .form-error {
      @apply text-red-700 text-sm font-bold;
   }

   .form-button {
      @apply dark:bg-white text-white font-bold text-xl text-center dark:text-black bg-black rounded-full p-2 first-letter:uppercase;
   }

   /* layout */
   .body {
      @apply flex flex-col items-center px-2 dark:bg-black bg-white dark:text-white overflow-y-auto overflow-x-hidden;
   }

   .header {
      @apply sticky top-0 left-0 w-full backdrop-blur-2xl  p-3 z-40;
   }
   .search-bar{
      @apply w-full flex gap-2 items-center dark:bg-black bg-white border-[1px] border-solid border-zinc-600 p-2 rounded-full placeholder:text-inherit  ;
   }
   .navigation-bar-items {
      @apply relative dark:text-white flex justify-center items-center p-2 cursor-pointer dark:hover:bg-zinc-800 hover:bg-gray-200 rounded-full;
   }

   .icon {
      @apply w-fit h-fit dark:text-white text-sm flex justify-center items-center p-2 cursor-pointer dark:hover:bg-zinc-800 rounded-full;
   }

   .blur-effect {
      @apply bg-[#ffffff3b] backdrop-blur-2xl
   }

   /* button */


   .primary-btn {
      @apply dark:bg-white dark:text-black text-white bg-black p-2 rounded-full cursor-pointer;
   }

   .scendry-btn {
      @apply p-2 border-[1px] border-solid border-zinc-600 rounded-full cursor-pointer;
   }

   /* UI components  */
   .round-frame {
      @apply rounded-full overflow-hidden;
   }

   .post {
      @apply dark:border-zinc-700 p-4 border-[1px] border-solid border-zinc-800  ;
   }
   .repost{
      @apply rounded-xl
   } 
   
  .post-media-box {
  @apply w-full max-h-96 relative grid grid-flow-col-dense border border-zinc-800 rounded-2xl overflow-hidden;
}

   
   .interactions-bar{
      @apply w-full flex justify-around items-center ;
   }

   
}

input {
   @apply dark:text-white;
}

input,

textarea {
   border: none;
   outline: none;
}
input::placeholder{
   @apply text-sm;
}
button {
   @apply cursor-pointer;
}

button:disabled {
   @apply opacity-85 cursor-not-allowed;
}

label{
   @apply cursor-pointer
}
.toast-message {
   @apply bg-sky-500 text-white p-2;
}
